<h1><%= tweed.name %></h1>
<p>up votes: <%= tweed.upVote %></p>
<p class="margin-bottom">down votes: <%= tweed.downVote %></p>

<form class="margin-bottom" action="/tweeds/<%= tweed.id %>?_method=DELETE" method="POST">
  <input type="submit" value="delete tweed">
</form>

<a href="/tweeds">home</a>
